# terraform files
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
*.tfvars.json
*.lock.hcl
# local environment files
.env
.env.local
.env.*.local
# log files
*.log
# IDE files
.idea/
.vscode/
# OS files.DS_Store
Thumbs.db   
